In [7]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [8]:
# 1 Load the csv data 
pd = pd.read_csv("Data/Standardization_scaling_Pension_data.csv")
pd

   Age  Pension_Salary  Marital_status
0   50           10000               0
1   60           80000               1
2   70          700000               1
3   80          100000               0
4   90        10000000               0

In [9]:
# 2 Separate the X (Feature/independent/input) 
X = pd[["Age", "Marital_status"]]
X

   Age  Marital_status
0   50               0
1   60               1
2   70               1
3   80               0
4   90               0

In [10]:
# 3  y(dependent/output/target)
y = pd["Pension_Salary"]
y

0       10000
1       80000
2      700000
3      100000
4    10000000
Name: Pension_Salary, dtype: int64

In [11]:
# Now i am going start Standardization(Z_Score ) sclaing
# Create a object of the StandardScaler
stnd_scaler_obj = StandardScaler()

# Now transform the data
X_scale_data = stnd_scaler_obj.fit_transform(X)
X_scale_data

array([[-1.41421356, -0.81649658],
       [-0.70710678,  1.22474487],
       [ 0.        ,  1.22474487],
       [ 0.70710678, -0.81649658],
       [ 1.41421356, -0.81649658]])

In [17]:
stats = {
    "mean": np.round(np.mean(X_scale_data, axis=0), 2),
    "std": np.round(np.std(X_scale_data, axis=0), 2),
}

stats

{'mean': array([ 0., -0.]), 'std': array([1., 1.])}