In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [2]:
df = pd.read_csv("Data/ordinal_encoding_data.csv")
df

   Product_name     Review  Price
0        Sampoo       poor     12
1         Sabun       good     34
2           Oil       poor     23
3  Masala maggi  very good     22
4         Table       Nice     56
5         Chair  excellent     78

In [3]:
X = df[["Product_name", "Review"]]
X

   Product_name     Review
0        Sampoo       poor
1         Sabun       good
2           Oil       poor
3  Masala maggi  very good
4         Table       Nice
5         Chair  excellent

In [4]:
y = df["Price"]
y

0    12
1    34
2    23
3    22
4    56
5    78
Name: Price, dtype: int64

In [6]:
# create an object of Ordinal Encoding
oe_obj = OrdinalEncoder()
input_encoded_data = oe_obj.fit_transform(X)
input_encoded_data

array([[4., 3.],
       [3., 2.],
       [2., 3.],
       [1., 4.],
       [5., 0.],
       [0., 1.]])