In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import RobustScaler

In [2]:
# Now i am going to load the csv/excel data
df = pd.read_csv("Data/robust_scaling_salary_data.csv")
df

   Age  Qualification  Salary
0    2              0      20
1    4              1      25
2    6              0      30
3    8              1      35
4   10              0      40
5   12              1      45
6   14              0     200
7   16              1     220

In [3]:
# Now i am going to take input/independent/feature (X)
X = df[["Age", "Qualification"]]
X

   Age  Qualification
0    2              0
1    4              1
2    6              0
3    8              1
4   10              0
5   12              1
6   14              0
7   16              1

In [4]:
# Now i am going to take output/dependent/Targe (y)
y = df["Salary"]
y

0     20
1     25
2     30
3     35
4     40
5     45
6    200
7    220
Name: Salary, dtype: int64

In [5]:
# Now i am going to scale input/independent/feature(X)
# Create an object of RobustScaler
scaler = RobustScaler()
x_scaled = scaler.fit_transform(X)
x_scaled

array([[-1.        , -0.5       ],
       [-0.71428571,  0.5       ],
       [-0.42857143, -0.5       ],
       [-0.14285714,  0.5       ],
       [ 0.14285714, -0.5       ],
       [ 0.42857143,  0.5       ],
       [ 0.71428571, -0.5       ],
       [ 1.        ,  0.5       ]])