In [16]:
# imoprt all Libraries
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
# Load csv data 
df = pd.read_csv("Data/one-hot-encoding-data.csv")
df

     City          Famous_placer  Age
0   Delhi              Lal quila   25
1  Mumbai              Taj Hotel   30
2  Jaipur  Bhangarh_bhutiya_kila   22
3   Delhi            Quitabminar   28

In [17]:
# Filter catergories and text data from the csv
X = df[["City", "Famous_placer"]]
X

     City          Famous_placer
0   Delhi              Lal quila
1  Mumbai              Taj Hotel
2  Jaipur  Bhangarh_bhutiya_kila
3   Delhi            Quitabminar

In [18]:
# create an object of OneHotEncoder classs
encoder = OneHotEncoder(sparse_output=False)
encoded_data = encoder.fit_transform(X)
encoded_data

array([[1., 0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0., 1., 0.]])

In [19]:
encoded_df = pd.DataFrame(encoded_data, columns = encoder.get_feature_names_out(X.columns))
encoded_df

,City_Delhi,City_Jaipur,City_Mumbai,Famous_placer_Bhangarh_bhutiya_kila,Famous_placer_Lal quila,Famous_placer_Quitabminar,Famous_placer_Taj Hotel
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,1.0,0.0