In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv("Data/packet_price_data.csv")
df

               Name  Kirana_shop  HoleShaler  Online  Price
0              Salt            1           2       5    100
1  Oil_small_pouche            3         100     100    200
2  Suger_small_pack            4         200     200     50
3     Colgate_small           50          10      20     75
4          Cocacola           30         120     600     85

In [7]:
# store all input/feature/independent variable into X
X = df[["Kirana_shop","HoleShaler","Online"]]

In [6]:
X

   Kirana_shop  HoleShaler  Online
0            1           2       5
1            3         100     100
2            4         200     200
3           50          10      20
4           30         120     600

In [8]:
# store Output/dependent/Target variable into y
y = df["Price"]

In [9]:
y

0    100
1    200
2     50
3     75
4     85
Name: Price, dtype: int64

In [10]:
# Now i am going to scale data using MinMaxScaler
# scaler is object of MinMaxScaler class
scaler = MinMaxScaler()
x_input_min_max_scalled_data = scaler.fit_transform(X)

In [11]:
x_input_min_max_scalled_data

array([[0.        , 0.        , 0.        ],
       [0.04081633, 0.49494949, 0.15966387],
       [0.06122449, 1.        , 0.32773109],
       [1.        , 0.04040404, 0.02521008],
       [0.59183673, 0.5959596 , 1.        ]])

In [ ]:
# Now i am going to scale output variable/Target/ dependent data using MinMaxScaler
# scaler is object of MinMaxScaler class