In [22]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [23]:
student_data = pd.read_csv(r"E:\ML_Class_8_30_am\Data\Studnent_data.csv")

In [24]:
# Read CSv DATA
student_data

,Student,पढ़ाई के घंटे (Hours),Tuition लिया (Yes/No),Mobile इस्तेमाल (घंटे),Attendance (%),मार्क्स (Marks)
0,A,1,No,5.0,60,10
1,B,2,Yes,4.0,65,20
2,C,3,No,6.0,70,30
3,D,4,Yes,3.0,75,40
4,E,5,No,2.0,80,50
5,F,6,Yes,1.5,85,60
6,G,7,Yes,1.0,90,70
7,H,8,Yes,1.0,92,80
8,I,9,No,2.0,94,90
9,J,10,Yes,0.5,95,100

In [25]:
# Feature/Independent (X)   and Target/Dependent variable (y) separate
X = student_data[["Student", "पढ़ाई के घंटे (Hours)", "Tuition लिया (Yes/No)", "Mobile इस्तेमाल (घंटे)", "Attendance (%)"]]

In [26]:
y = student_data["मार्क्स (Marks)"]

In [29]:
# 80 % data for train _train, y_tesand 20 % data for testing
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)

In [30]:
# Check X_train and X_test data is 80% and 20% or not
print("Training Data: \n")
print(X_train.head(100))

Training Data:

  Student  पढ़ाई के घंटे (Hours) Tuition लिया (Yes/No)  \
4       E                      5                    No
8       I                      9                    No
6       G                      7                   Yes
5       F                      6                   Yes
2       C                      3                    No
3       D                      4                   Yes
7       H                      8                   Yes
0       A                      1                    No

   Mobile इस्तेमाल (घंटे)  Attendance (%)
4                     2.0              80
8                     2.0              94
6                     1.0              90
5                     1.5              85
2                     6.0              70
3                     3.0              75
7                     1.0              92
0                     5.0              60

In [31]:
print("Y traning data \n")
print(y_train)

Y traning data

4    50
8    90
6    70
5    60
2    30
3    40
7    80
0    10
Name: मार्क्स (Marks), dtype: int64

In [33]:
print("X Testing data \n")
print(X_test)

X Testing data

  Student  पढ़ाई के घंटे (Hours) Tuition लिया (Yes/No)  \
1       B                      2                   Yes
9       J                     10                   Yes

   Mobile इस्तेमाल (घंटे)  Attendance (%)
1                     4.0              65
9                     0.5              95

In [34]:
print("Y test data \n")
print(y_test)

Y test data

1     20
9    100
Name: मार्क्स (Marks), dtype: int64