In [7]:
import pandas as pd
dir(pd)
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
lables_size = ["Low","Medium", "High"]
# Create an object of LabelEncoder and endcode using predifine method
le_encoder = LabelEncoder()
y_lables_size = le_encoder.fit_transform(lables_size)
y_lables_size

array([1, 2, 0])

In [3]:
# ================================================================================
# Lebel Encoding by self/manual

In [16]:
y_output_size = ["Low","Medium", "High", "Very Low", "Very High", "Very High", "Very High", "VeryHigh"]
data = {"output_size" : y_output_size }
df = pd.DataFrame(data)

In [17]:
# dir(df)
df["output_size"].value_counts()

output_size
Very High    3
Low          1
Medium       1
High         1
Very Low     1
VeryHigh     1
Name: count, dtype: int64

In [18]:
df["output_size_Manaual_label_encoded"] = df["output_size"].map({"Very Low": 0, "Low": 1,"Medium":2, "High": 3,"Very High": 4,"VeryHigh":5})

In [19]:
df

  output_size  output_size_Manaual_label_encoded
0         Low                                  1
1      Medium                                  2
2        High                                  3
3    Very Low                                  0
4   Very High                                  4
5   Very High                                  4
6   Very High                                  4
7    VeryHigh                                  5

In [22]:
# ==============================================================
# Label Encoder using csv data
df_csv = pd.read_csv("Data/Label_encoder_data.csv")
df_csv

      Name  Age Running_efficiency
0     Rama   32             Medium
1  Yashmin   27               High
2   Sanjay   41                Low
3    Satya   27          Very High
4    Bittu   12               High

In [26]:
output_encoded = le_encoder.fit_transform(df_csv["Running_efficiency"])
output_encoded

E:\ML_Class_8_30_am\ml_env\Lib\site-packages\sklearn\preprocessing\_label.py:120: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 3, 0])